body {
  background-color: gainsboro;
}
.sketch {
  display: grid;
  width: 600px;
  height: 600px;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 20px;
}
